<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
   
    <connectionStrings>
        <add name="Capa_Datos.Properties.Settings.Monolito4amConnectionString"
            connectionString="Data Source=192.168.12.175,1433;Initial Catalog=Monolito4am;User ID=sa;Password=Joseabraham21;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Capa_Datos.Properties.Settings.Monolito4amConnectionString1"
            connectionString="Data Source=192.168.12.201,1433;Initial Catalog=Monolito4am;User ID=sa;Password=Joseabraham21;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Capa_Datos.Properties.Settings.Monolito4amConnectionString2"
            connectionString="Data Source=192.168.12.180,1433;Initial Catalog=Monolito4am;User ID=sa;Password=Joseabraham21;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Capa_Datos.Properties.Settings.Monolito4amConnectionString3"
            connectionString="Data Source=192.168.12.115,1433;Initial Catalog=Monolito4am;User ID=sa;Password=Joseabraham21;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Capa_Datos.Properties.Settings.Monolito4amConnectionString4"
            connectionString="Data Source=192.168.100.54,1433;Initial Catalog=Monolito4am;User ID=sa;Password=Joseabraham21;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Capa_Datos.Properties.Settings.Monolito4amConnectionString5"
            connectionString="Data Source=192.168.13.15,1433;Initial Catalog=Monolito4am;User ID=sa;Password=Joseabraham21;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Capa_Datos.Properties.Settings.Monolito4amConnectionString6"
            connectionString="Data Source=192.168.12.178,1433;Initial Catalog=Monolito4am;User ID=sa;Password=Joseabraham21;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Capa_Datos.Properties.Settings.Monolito4amConnectionString7"
            connectionString="Data Source=192.168.12.151,1433;Initial Catalog=Monolito4am;User ID=sa;Password=Joseabraham21;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Capa_Datos.Properties.Settings.Monolito4amConnectionString8"
            connectionString="Data Source=192.168.12.65,1433;Initial Catalog=Monolito4am;User ID=sa;Password=Joseabraham21;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Capa_Datos.Properties.Settings.Monolito4amConnectionString9"
            connectionString="Data Source=192.168.12.164,1433;Initial Catalog=Monolito4am;User ID=sa;Password=Joseabraham21;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Capa_Datos.Properties.Settings.Monolito4amConnectionString10"
            connectionString="Data Source=192.168.10.104,1433;Initial Catalog=Monolito4am;User ID=sa;Password=Joseabraham21;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Capa_Datos.Properties.Settings.Monolito4amConnectionString11"
            connectionString="Data Source=192.168.12.140,1433;Initial Catalog=Monolito4am;User ID=sa;Password=Joseabraham21;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Capa_Datos.Properties.Settings.Monolito4amConnectionString12"
            connectionString="Data Source=192.168.12.185,1433;Initial Catalog=Monolito4am;User ID=sa;Password=Joseabraham21;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Capa_Datos.Properties.Settings.Monolito4amConnectionString13"
            connectionString="Data Source=192.168.12.80,1433;Initial Catalog=Monolito4am;User ID=sa;Password=Joseabraham21;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Capa_Datos.Properties.Settings.Monolito4amConnectionString14"
            connectionString="Data Source=192.168.12.119,1433;Initial Catalog=Monolito4am;User ID=sa;Password=Joseabraham21;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Capa_Datos.Properties.Settings.Monolito4amConnectionString15"
            connectionString="Data Source=192.168.12.131,1433;Initial Catalog=Monolito4am;User ID=sa;Password=Joseabraham21;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Capa_Datos.Properties.Settings.Monolito4amConnectionString16"
            connectionString="Data Source=192.168.100.166,1433;Initial Catalog=Monolito4am;User ID=sa;Password=Joseabraham21;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Capa_Datos.Properties.Settings.Monolito4amConnectionString17"
            connectionString="Data Source=192.168.12.110,1433;Initial Catalog=Monolito4am;User ID=sa;Password=Joseabraham21;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Capa_Datos.Properties.Settings.Monolito4amDBConnectionString"
            connectionString="Data Source=Monolito4amDB.mssql.somee.com;Initial Catalog=Monolito4amDB;User ID=Jose_Abraham_SQLLogin_1;Password=35hf8c9xku;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>